In [1]:
%load_ext autoreload

%autoreload 2

In [2]:
import re
import numpy as np
import pandas as pd
from helpers import preprocess_str, clean
from vectorizer import vectorize
from grid_search import grid_search
from collections import defaultdict
from fuzzywuzzy import fuzz
from collections import Counter
import cPickle

In [3]:
!awk -F"\"" '!$NF{print;next}{printf("%s ", $0)}' realty_company.csv > realty_company_no_newline.csv

with open('realty_company_no_newline.csv','rb') as f:
    super_list = []
    for i, line in enumerate(f):
        id_, ver, names_str = line.strip().split(',',2)
        super_list.append([id_, ver, clean(names_str)])

df_company = pd.DataFrame(super_list[1:], columns=super_list[0])
df_company['name_clean'] = df_company['name'].apply(preprocess_str)
df_company[['name','name_clean']][:5]

                       name         name_clean
0       Cushman & Wakefield  cushman wakefield
1  Durst Organization, Inc.              durst
2          Oxford & Simpson     oxford simpson
3                 UGL Equis          ugl equis
4                   Studley            studley

In [4]:
corpus=df_company['name_clean'].unique()
matrix_cv = vectorize(
    corpus=df_company['name_clean'].unique(), 
    ngrams=2, 
    tokenizer='char'
)

In [5]:
matrix_cv.shape, corpus.shape

((9473, 830), (9473,))

In [6]:
#jaccard at 0.2 did the best

metrics = [
#     'cosine',
#     'euclidean',
#     'manhattan',
#     'hamming',
#     'chebyshev',
#     'canberra',
#     'braycurtis',
    'jaccard',
#     'dice'
]

dict_of_cluster_objs = grid_search(metrics, matrix_cv, range_of_eps_distances=[0.06, 0.09, 0.2,0.4])

JACCARD
==================================================

distance:  0.06  cnt:  129
-1     9177
 7       10
 11       8
 70       6
 20       6
 73       6
 16       4
 65       4
 8        3
 91       3
 37       3
 38       3
 56       3
 57       3
 69       3
...
67     2
114    2
81     2
113    2
71     2
72     2
112    2
74     2
75     2
76     2
77     2
78     2
79     2
80     2
0      2
Length: 129, dtype: int64
count clusters:  129 large clusters:  1
--------------------------------------------------

distance:  0.09  cnt:  210
-1      8962
 48       17
 17       14
 106      13
 13       11
 0        11
 64        7
 4         5
 155       4
 168       4
 36        4
 68        4
 28        4
 45        3
 154       3
...
142    2
141    2
140    2
137    2
126    2
136    2
135    2
133    2
132    2
131    2
130    2
129    2
128    2
127    2
104    2
Length: 210, dtype: int64
count clusters:  210 large clusters:  6
--------------------------------------------------

distance:  0.2  cnt:  622
-1      7555
 6        87
 65       84
 37       63
 24       51
 64       47
 43       42
 53       26
 23       21
 105      17
 227      15
 10       15
 137      10
 36        9
 132       7
...
372    2
373    2
374    2
375    2
376    2
378    2
379    2
381    2
382    2
383    2
385    2
386    2
588    2
388    2
310    2
Length: 622, dtype: int64
count clusters:  622 large clusters:  12
--------------------------------------------------

distance:  0.4  cnt:  1047
-1      3673
 1      1432
 45      223
 0       180
 8       108
 20       62
 150      62
 128      57
 3        45
 42       32
 178      32
 231      31
 29       30
 262      26
 145      26
...
669    2
668    2
664    2
651    2
663    2
662    2
661    2
660    2
659    2
658    2
657    2
656    2
655    2
653    2
523    2
Length: 1047, dtype: int64
count clusters:  1047 large clusters:  47
--------------------------------------------------

BEST number of clusters:  1047  eps:  0.4
failed @ metric --  jaccard

In [14]:
dbscan, cnt= dict_of_cluster_objs['jaccard']['0.2']
best_cluster = pd.Series(dbscan.labels_)

for i in best_cluster.value_counts().index[:5]:
    if i != -1: 
        print 'CLUSTER#', i
        print corpus[best_cluster[best_cluster == i].index]

CLUSTER# 6.0
['colliers international' 'collier international'
 'colliers international sj' 'colliers intemal ional' 'colliers int'
 'colliers international san jose' 'colliers international oakland'
 'colliers international pleasanton'
 'studley colliers international oakland' 'colliers international fair'
 'colliers international sf' 'colliers international pl'
 'colliers international oak' 'colliers international wc'
 'colliers international rwc' 'colliers international cbre'
 'colliers int w' 'colliers lnternational' 'colliers seeley international'
 'colliers internatioanl' 'colliers internationa'
 'colliers international jll' 'colliers internatiional'
 'colliers international roseville' 'colliers international sf jon jensen'
 'cbre colliers international' 'colleirs international'
 'collieres international' 'colliers lntemational'
 'colliers seeley international colliers international'
 'colliers seeley international lee' 'colliers intl' 'colliers inter'
 'colliers international cresa' 'colliers international w'
 'colliers international lee' 'coliers international'
 'colliers lntenational' 'colliers iternational'
 'colliers international pi'
 'colliers international san jose colliers international pleasanton'
 'colliers international palo alto' 'colliers international san jose lfm'
 'couiers international' 'colliers international fc'
 'colliers international atlanta' 'colliers internation'
 'colliers international irvine' 'colliers international ontario'
 'colliers nternational' 'colliers int lee' 'colliers international daum'
 'collliers international' 'collliers int w' 'lee colliers int'
 'colliers internationl' 'colliers internaional' 'colliers internantional'
 'colliers intternational lee' 'collers international'
 'oncor international' 'colliers interna' 'colliers internatinal'
 'coliiers international' 'colliers intenational'
 'cbre san jose dt colliers international san jose'
 'colliers internartional san jose' 'collers lntenational'
 'colliers internatinal sj' 'colliers internatonal' 'collirs international'
 'colliers international nnj' 'ccim colliers international'
 'colliers international fairfield' 'colliers intertnational'
 'colliers inrternational' 'collies international'
 'colliers internartional' 'colliers intrernational'
 'colliers international pleasantor' 'colliers international levrose'
 'colliers international south' 'colliero international'
 'colliers intemational' 'colliers inernational'
 'colliers international encino' 'colliers international dallas']
CLUSTER# 65.0
['newmark knight frank' 'newmark knight frnak' 'newmark kinght frank'
 'newmark grubb knight frank' 'sl green newmark grubb knight frank'
 'newmark grubb knight' 'newman knight frank' 'newwmark knight frank'
 'newman grubb knight frank' 'newman grubb knight frank knight frank'
 'sl green newman grubb knight frank' 'newmark knight grubb frank'
 'newmark grubb knight frank cbc hunter' 'newmark gubb knight frank'
 'newmark grubb knight frank abs' 'hal stein newmark grubb knight frank'
 'subnewmark grubb knight frank' 'newmark grubb night frank'
 'newmark knight' 'newmark grubb knight frankn'
 'newmark grubb knight frank cbre' 'newmar knight frank'
 'newmark knight grubb' 'newmark knightfrank' 'nemark grubb knight frank'
 'w cohen r kass newmark grubb knight frank' 'newmark grubb knight eliis'
 'newmark grub knight frank' 'newmark knight frank epic'
 'newmark knight frank ellis' 'newmark grubb kight frank'
 'newmark grubb knight frankl' 'newmakr grubb knight frank'
 'newmark grubb knight frank newport beach nonmemb'
 'cbre newmark knight frank' 'newark knight frank sf'
 'newmark grubb knght frank' 'newmark grubb knight frank atlanta'
 'newmark grubb knight frank atlanta newmark grubb acres'
 'newmark grubb knight frank atlanta transwestern'
 'newmark grubb knight frank atlanta acclaim'
 'newmark grubb knight frank atlanta atlanta'
 'newmark grubb knight frank atlanta jll'
 'newmark grubb knight frank atlanta newmark dallas'
 'newmark grubb knight frank atlanta newmark grubb knight frank new york'
 'newmark grubb knight frank atlanta newmark grubb knight frank dallas'
 'jll newmark grubb knight frank'
 'newmark grubb knight frank atlanta wright' 'newmark grubb knigth frank'
 'newmark grubb knight frankk' 'newmark grubbknight frank'
 'newark knight franke' 'newmark grubb knight frank cj net'
 'newark knight frank' 'newmark grubb knight frank wayne'
 'newmark grubb frank knight' 'esrt newmark grubb knight frank'
 'frederick ross newmark grubb knight frank'
 'newmark knight frank frederick ross' 'newmark knight frank ross'
 'cbre newmark grubb knight frank' 'newmark grubb knight ellis'
 'olnick newmark grubb knight frank' 'newmark grubb knight frank lawrence'
 'newmmark grubb knight frank' 'newmark knight frank sf'
 'newmark grubb kinght frank' 'newmark grugg knight frank'
 'newmark grubb knight frank cohen' 'newmark grubb kngiht frank'
 'newmark knight franks' 'newmark knight frank grubb'
 'newmark grubb knight frank downtown' 'newmark grubb knight frank denver'
 'newmark grubb knight frank ontario' 'nemark knight frank'
 'newmark grubb knight frank beach' 'newmark knight frank brown'
 'newmark knight frank 0 brown' 'newmark grubb knight frank newport beach'
 'newmark grubb knight frank chicago' 'newmark knight frank gural'
 'newmark knigth frank' 'newmarkknight frank']
CLUSTER# 37.0
['cushman wakefield' 'jll cushman wakefield' 'cushman wakefie ld'
 'cushman wakefield cresa' 'cushmand wakefield' 'cushman wakefield jll'
 'cushman wakefield durst' 'cushman wakefield sj'
 'cushman wakefield lumpkin' 'cushman wakefiled' 'cps cushman wakefield'
 'cushman wakefield oakland' 'cushman wakefield oak' 'cushman wakefeld'
 'cushman wakefield sf' 'cushman wakefield wc' 'cushman wakefeild'
 'cushman wakefild' 'cushamn wakefield' 'cushman wakefield colliers'
 'cusham wakefield' 'cushman wakefield sac' 'cushm wakefield'
 'cushman wakfield' 'cbre cushman wakefield' 'cushman wakefield san ramon'
 'cushman wakefield cbre' 'cushman wakefield cm'
 'andersen cushman wakefield' 'cushman wakefield san jose'
 'cushman wakefield hoyt' 'cashman wakefield' 'cushman wakefileld'
 'cush wakefield' 'cushman wakefield ontario' 'milbank cushman wakefield'
 'cushman wakefield paf' 'cushman wakefield voit'
 'cushman wakefield voit comme' '11shman wakefield'
 'cushman wakefield cushman' 'cushman wakefield dolgoff'
 'colliers cushman wakefield' 'cushwake wakefield'
 'cushman wakefield orion' 'cushman wakefield fressle'
 'cushman wakefield sloan' 'cushman wakefieldd'
 'cushman wakefield san diego' 'cushman wakeflied' 'cuchman wakefield'
 'cushman wakefield high' 'cushman wakefield high center'
 'crushman wakefield' 'cushman wakefield lund' 'cushman wakefiield'
 'cushman wakefield jll sub' 'cusman wakefield' 'cushman wakefields'
 'ngkf cushman wakefield' 'cushman wakerfield' 'cushman wakefied'
 'cushman wakefield green']
CLUSTER# 24.0
['cassidy turley' 'cassidy turley bt' 'cassidy turley cps'
 'cassidy turley bt p' 'cassidy turley cbre' 'casssidy turley'
 'cassidy turley palo alto' 'cassidy turley cal' 'cbre cassidy turley'
 'cassidy turley cresa cbre' 'cassidey turley' 'cassidy tur1ey'
 'cassify turley' 'casside turley'
 'cassidy turley altos cassidy turley palo alto t3' 'cassidy turnley'
 'amb cassidy turley' 'cassidy turley s5' 'cassidy turley t3'
 'cassidy turley altos' 'cassidy turley rees' 'cassidu turley cps'
 'cassidy turely' 'cassidy turley cps cassidy turley bt'
 'cassidy turley bt palo alto' 'cassidy turley bt b' 'cassidt turley'
 'cassidy turley cps bt' 'cassidy turiey bt' 'cm cassidy turley cps'
 'cassiddy turley' 'cassidy turtey' 'cassidy turley bre' 'cassidy turle'
 'cassidy turley cresa' 'cassidy turley tri' 'cassidy turley nkf'
 'cassidy turley 650' 'cassidy turlev' 'cassidy turley fuller'
 'casidy turley' 'cassity turley' 'cassady turley fuller'
 'cassidy turley ward' 'cassidy turley dtz' 'cassidy turtey bt'
 'cassidy turley fho' 'cassidy turley palo alia' 'caassidy turley'
 'cassidy turley w' 'dtz cassidy turley']

In [18]:
reverse_dictionary_with_list_vals = lambda x: \
    {item: clust_name for clust_name, cluster in x.items() for item in cluster}

def cluster_to_hashmap(clusters):
    stor = {}
    for i in clusters.value_counts().index:
        target_cluster = corpus[clusters[clusters == i].index]
        if i != -1:
            stor[target_cluster[0]] = target_cluster

    return reverse_dictionary_with_list_vals(stor)

name_clean_map = cluster_to_hashmap(best_cluster)

df_company['name_clean_post_clustering'] = df_company['name_clean'].apply(lambda x: name_clean_map.get(x) if name_clean_map.get(x) else x)
df_company['name_clean_post_clustering']

0          cushman wakefield
1                      durst
2             oxford simpson
3                  ugl equis
4                    studley
5                grubb ellis
6     colliers international
7             vornado office
8                        jll
9           cb richard ellis
10            cassidy turley
11                  sl green
12                     cresa
13                       abs
14           prime manhattan
...
13820          monday berger
13821
13822       horowitz studley
13823                mandell
13824    jane roundell cresa
13825             r w holmes
13826      cushman wakefield
13827                     cw
13828                      w
13829           studley peck
13830                w cento
13831                  prime
13832    100 franklin street
13833                klemmer
13834                    fpk
Name: name_clean_post_clustering, Length: 13835, dtype: object

In [19]:
uncat = sorted(corpus[best_cluster[best_cluster == -1].index])

stor = []
for str_ in uncat:
    try:
        stor.append(str_.split()[0])
    except:
        print str_


missed_names_top_40 = pd.Series(stor).value_counts()[:40].index

def stop_word_generator(initial_stop_words, corpus):
    all_words = list(corpus)
    stor_dict = defaultdict(list)
    threshold_value = 80
    for word in initial_stop_words:
        for curr_word in all_words:
            if len(curr_word) == 1: continue
            if fuzz.token_set_ratio(word, curr_word) > threshold_value:
                stor_dict[word].append(curr_word)
    return stor_dict

temp_dic = reverse_dictionary_with_list_vals(stop_word_generator(missed_names_top_40, uncat))
df_company['name_clean_post_clustering_refined'] = df_company['name_clean_post_clustering'].apply(lambda x: temp_dic.get(x) if temp_dic.get(x) else x)
df_company['name_clean_post_clustering_refined'][:5]

0    cushman wakefield
1                durst
2       oxford simpson
3            ugl equis
4              studley
Name: name_clean_post_clustering_refined, dtype: object

In [20]:
from collections import defaultdict

def adhoc_find_similar_names(initial_stop_words, corpus):
    all_words = [word for sub_list in [item.split() for item in list(corpus)] for word in sub_list]
    stor_dict = defaultdict(list)
    threshold_value = 80
    for word in initial_stop_words:
        for curr_word in all_words:
            if fuzz.ratio(word, curr_word) > threshold_value:
                stor_dict[word].append(curr_word)
    return stor_dict.values()

map(lambda x: set(x), adhoc_find_similar_names(pd.Series(stor).value_counts()[:4].index, uncat))

[{'bre', 'cbe', 'cbre', 'cre', 'dcbre'},
 {'colleirs', 'collier', 'colliers', 'collirs', 'colllers'},
 {'nai'},
 {'jll', 'jllr', 'jlly'}]

In [21]:

df_brokers = cPickle.load(open('../df_brokers.pkl', 'rb'))

df_brokers[:5]

  id version           name
0  1       0  david pinetta
1  2       0       abe bose
2  2       0  joel weinberg
3  3       0  john mambrino
4  4       0    luke greene

In [22]:
df_comp_master_tenant_realty_company = pd.read_csv('comp_master_tenant_realty_company.csv')
df_comp_master_tenant_realty_company[:5]

   comp_id  realty_company_id
0        3                  1
1        4                564
2       11                  3
3       14                  1
4       16                  4

In [23]:
df_comp_master_tenant_realty_broker = pd.read_csv('comp_master_tenant_realty_broker.csv')
df_comp_master_tenant_realty_broker[:5]

   comp_id  realty_broker_id
0        3               145
1        4                54
2       11                 1
3       14              1784
4       18                 3

In [24]:
master_table = pd.merge(df_comp_master_tenant_realty_broker, 
                        df_comp_master_tenant_realty_company,                         
                       how='left')
master_table[:5]

   comp_id  realty_broker_id  realty_company_id
0        3               145                  1
1        4                54                564
2       11                 1                  3
3       14              1784                  1
4       18                 3                  5

In [28]:
indices = df_company[df_company['name_clean_post_clustering_refined'] == ''].index
df_company['name_clean_post_clustering_refined'].ix[indices] = df_company['name'].ix[indices] 
df_company['name_clean_post_clustering_refined'][:5]

0    cushman wakefield
1                durst
2       oxford simpson
3            ugl equis
4              studley
Name: name_clean_post_clustering_refined, dtype: object

In [29]:
#some names got cleared out by the preprocessor, the stop_word set

df_company['name_clean_post_clustering_refined'].value_counts()

cbre                      146
colliers international    124
cushman wakefield         119
re                        113
cornish carey sm          111
w                         104
colliers                  103
newmark knight frank       99
lee                        95
cassidy turley             95
grubb                      92
jll                        86
nai                        81
pacific                    76
cushman                    74
...
griffin                          1
swsg                             1
codina                           1
heher                            1
Commercial Realty Advisors       1
lennox financial                 1
holloway                         1
ugl justin helbig greg hilton    1
Commercial Realty                1
812 lp                           1
herschel plaza                   1
catalyst                         1
freeman myre                     1
olive limited                    1
myking                           1
Length: 6934, dtype: int64

In [30]:
df_brokers = df_brokers.rename(columns={'id':'realty_broker_id'})
df_company = df_company.rename(columns={'id':'realty_company_id'})
df_company['realty_company_id'] = df_company.realty_company_id.astype(int)
df_brokers['realty_broker_id'] = df_brokers.realty_broker_id.astype(int)
master_table = pd.merge(master_table, df_company, how='right', on='realty_company_id')
master_table

,comp_id,realty_broker_id,realty_company_id,version_x,name_x,name_clean_x,name_clean_post_clustering_x,name_clean_post_clustering_refined_x,version_y,name_y,name_clean_y,name_clean_post_clustering_y,name_clean_post_clustering_refined_y
0,3,145,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
1,14,1784,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
2,111,1796,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
3,136,23929,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
4,136,3971,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
5,202,13640,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
6,329,35,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
7,444,1788,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
8,462,1597,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
9,877,1791,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
10,1021,90,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
11,1124,104,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
12,1285,13584,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
13,1285,2670,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
14,1285,3274,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
15,1285,3277,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
16,1378,1798,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
17,1382,1801,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
18,1447,132,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
19,1464,1491,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
20,1548,141,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
21,1559,1782,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
22,1582,145,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
23,1734,152,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
24,1861,166,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
25,2504,244,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
26,2518,251,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
27,2744,327,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
28,2756,338,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
29,2790,378,1,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield,0,Cushman & Wakefield,cushman wakefield,cushman wakefield,cushman wakefield
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54153,NaN,NaN,13924,0,"SNZ Real Estate Services, LLC",snz,snz,snz,0,"SNZ Real Estate Services, LLC",snz,snz,snz
54154,NaN,NaN,13925,0,The Kaufman Organization,kaufman,kaufman,kaufman,0,The Kaufman Organization,kaufman,kaufman,kaufman
54155,NaN,NaN,13926,0,Michael Higgins,michael higgins,michael higgins,michael,0,Michael Higgins,michael higgins,michael higgins,michael
54156,NaN,NaN,13927,0,Peter Van Duyne + David Stockell,peter duyne david stockell,peter duyne david stockell,david,0,Peter Van Duyne + David Stockell,peter duyne david stockell,peter duyne david stockell,david
54157,NaN,NaN,13928,0,Bill Peters,bill peters,bill peters,bill peters,0,Bill Peters,bill peters,bill peters,bill peters
54158,NaN,NaN,13929,0,Texas Real Estate Firm,firm,firm,firm,0,Texas Real Estate Firm,firm,firm,firm
54159,NaN,NaN,13930,0,Rudin Organization,rudin,rudin,rudin,0,Rudin Organization,rudin,rudin,rudin
54160,NaN,NaN,13931,0,Jeffrey Peck and Daniel Horowitz,jeffrey peck daniel horowitz,jeffrey peck daniel horowitz,jeffrey peck daniel horowitz,0,Jeffrey Peck and Daniel Horowitz,jeffrey peck daniel horowitz,jeffrey peck daniel horowitz,jeffrey peck daniel horowitz
54161,NaN,NaN,13932,0,Paine/Wetzel ONCOR,paine wetzel oncor,paine wetzel oncor,paine wetzel oncor,0,Paine/Wetzel ONCOR,paine wetzel oncor,paine wetzel oncor,paine wetzel oncor
54162,NaN,NaN,13933,0,Avison Young - Chicago LLC,avison young chicago,avison young chicago,avison young chicago,0,Avison Young - Chicago LLC,avison young chicago,avison young chicago,avison young chicago
54163,NaN,NaN,13934,0,Darwin Realty and Development Co,darwin,darwin,darwin,0,Darwin Realty and Development Co,darwin,darwin,darwin
54164,NaN,NaN,13936,0,ZE Realty,,,,0,ZE Realty,,,ZE Realty
54165,NaN,NaN,13937,0,Tishman Spyer,tishman spyer,tishman speyer,tishman speyer,0,Tishman Spyer,tishman spyer,tishman speyer,tishman speyer
54166,NaN,NaN,13938,0,Cushman & Wakefield (Mitch Arkin),cushman wakefield mitch arkin,cushman wakefield mitch arkin,cushman,0,Cushman & Wakefield (Mitch Arkin),cushman wakefield mitch arkin,cushman wakefield mitch arkin,cushman
54167,NaN,NaN,13939,0,Weichert Commercial from NJ,weichert,weichert,weichert,0,Weichert Commercial from NJ,weichert,weichert,weichert
54168,NaN,NaN,13940,0,Berger - Monday Properties,berger monday,monday berger,monday berger,0,Berger - Monday Properties,berger monday,monday berger,monday berger
54169,NaN,NaN,13941,0,Group Development Corp,,,,0,Group Development Corp,,,Group Development Corp
54170,NaN,NaN,13942,0,Dan Horowitz - Studley,horowitz studley,horowitz studley,studley,0,Dan Horowitz - Studley,horowitz studley,horowitz studley,studley
54171,NaN,NaN,13943,0,Mandel,mandel,mandell,mandell,0,Mandel,mandel,mandell,mandell
54172,NaN,NaN,13944,0,J. Roundell of Cresa,roundell cresa,jane roundell cresa,jane roundell cresa,0,J. Roundell of Cresa,roundell cresa,jane roundell cresa,jane roundell cresa
54173,NaN,NaN,13945,0,R.W. Holmes,r w holmes,r w holmes,w,0,R.W. Holmes,r w holmes,r w holmes,w
54174,NaN,NaN,13946,0,Cushman & Wakefield/S L Green Realty,cushman wakefield green,cushman wakefield,cushman wakefield,0,Cushman & Wakefield/S L Green Realty,cushman wakefield green,cushman wakefield,cushman wakefield
54175,NaN,NaN,13947,0,(CW),cw,cw,cw,0,(CW),cw,cw,cw
54176,NaN,NaN,13948,0,C/W,w,w,w,0,C/W,w,w,w
54177,NaN,NaN,13949,0,Studley: Peck,studley peck,studley peck,studley,0,Studley: Peck,studley peck,studley peck,studley
54178,NaN,NaN,13950,0,C&W: Cento,w cento,w cento,w,0,C&W: Cento,w cento,w cento,w
54179,NaN,NaN,13951,0,"Prime Commercial, Inc",prime,prime,prime,0,"Prime Commercial, Inc",prime,prime,prime
54180,NaN,NaN,13952,0,100 Franklin Street LLC,100 franklin street,100 franklin street,100 franklin street,0,100 Franklin Street LLC,100 franklin street,100 franklin street,100 franklin street
54181,NaN,NaN,13953,0,Klemmer Associates LLC,klemmer,klemmer,klemmer,0,Klemmer Associates LLC,klemmer,klemmer,klemmer
54182,NaN,NaN,13954,0,FPK Realty,fpk,fpk,fpk,0,FPK Realty,fpk,fpk,fpk